__pycache__
.env
*.log
*.ipynb_checkpoints
Data/*
**/Data/
*DS_Store

.vscode/*

UtilsDynamicSimulations/OpenSimAD/build-ExpressionGraphF*
UtilsDynamicSimulations/OpenSimAD/build-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/install-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/opensimAD-install/*

plans/
opensim-env/
OpenCapData_82bfd477-2975-40e6-a6d2-bf7ed12a0abf/
